body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ccc;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.hero-container {
  display: flex;
  height: 600px;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-container h1 {
  color: white;
  font-size: 64px;
}

.hero-container button {
  background-color: rgb(10, 25, 241);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.hero-container button:hover {
  background-color: rgb(126, 37, 162);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 10px;
  text-align: center;
  justify-items: center;
}

.services-container > div {
  border: 5px solid purple;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
marquee {
  background-color: #ccc;
}

.contact-container {
  display: flex;
  margin: 50px;
  justify-content: space-around;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 40%;
}
input {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  border-color: purple;
}

form > div {
  margin: auto;
}

form button {
  background-color: rgb(10, 25, 241);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

form textarea {
  margin: 10px 0;
  border-color: purple;
  border-radius: 10px;
}

.title-container {
  text-align: center;
  margin: 50px 0;
  color: purple;
}
footer {
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
  color: gray;
  padding: 50px;
  background-color: #ccc;
  margin-bottom: 0;
}

/* Responsive Design for tab */
@media only screen and (max-width: 1300px) {
  .services-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .contact-container img {
    width: 80%;
  }
}

@media only screen and (max-width: 1050px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .contact-container img {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .services-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .hero-container h1 {
    color: white;
    font-size: 28px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container div {
    width: 100%;
  }
  .contact-container img {
    width: 100%;
  }
  form {
    width: 80%;
  }
  form > div {
    text-align: center;
  }
}
